@using Esercizio_S2_L4_Riepilogo.Entities
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Any())
{
    foreach (var product in Model)
    {
        @if (ViewBag.ProductImages != null)
        {
            <img src="@ViewBag.ProductImages[product.Id]" height="200" />
        }
        <p>@product.Name</p>
        <p>@product.Quantity</p>

        if(product.Available)
        {
            <p>Disponibile</p>
        } else
        {
            <p>Non disponibile</p>
        }
        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-secondary">Vai ai dettagli</a>
    }
}
