@model IEnumerable<Esercizio_S5_WebApp.Models.AggiornamentoSpedizione>

@{
    ViewData["Title"] = "Dettagli Spedizione";
}

<h2>Dettagli Spedizione</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Stato</th>
                <th>Luogo</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aggiornamento in Model)
            {
                <tr>
                    <td>@aggiornamento.Stato</td>
                    <td>@aggiornamento.Luogo</td>
                    <td>@aggiornamento.Descrizione</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessun aggiornamento trovato per la spedizione richiesta.</p>
}