@model QueryView
@{
    ViewData["Title"] = "Home Page";

}

<h2>Spedizioni Odierne</h2>
@if (Model.SpedizioniOdierne.Any())
{
    @foreach(var app in  Model.SpedizioniOdierne)
    {
    @app.NumeroSpedizione
    }
}
else 
{
    <p>Non ci sono spedizioni in data odierna.</p>
}

<h2>Numero delle Spedizioni in Consegna</h2>

@Model.SpedizioniTotali



<h2>Spedizioni per Città</h2>

@if (Model.SpedizioniPercitta.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Città</th>
                <th>Numero di Spedizioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpedizioniPercitta)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessuna spedizione trovata.</p>
}
