@model IEnumerable<Spedizione>
@{
    ViewData["Title"] = "Home Page";

}

<h2>Spedizioni Odierne</h2>
@if(Model.Any())
{
    @foreach(var app in  Model)
    {
    @app.NumeroSpedizione
    }
}
else 
{
    <p>Non ci sono spedizioni in data odierna.</p>
}

