@model IEnumerable<ClientePrivato>
@{
    ViewData["Title"] = "Home Page";
}



@foreach(var clienti in Model)
{
    <p>@clienti.Nome</p>
}


<div class="text-center">
    <h1 class="display-4">Benvenuto nella azienda di spiedizione magica!</h1>
   


    <div>
        <h3>Vuoi dirci qualcosa di più? Scrivici qualcosa. Per noi è importante sapere la tua opinione!</h3>
        <form>
            <div class="form-group border border-0 my-3">
            <label>Email:</label>
            <input type="email" />
            </div>
            <div class="form-group border border-0">
            <label class="d-block">Messaggio:</label>
            <textarea placeholder="Scrivi qualcosa..."></textarea>
            </div>      
            <button type="submit">Invia</button>
        </form>
    </div>
</div>
